/* style.css */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:whitesmoke;
    color: BLACK;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0 -2px 6px rgba(0,0,0,0.05);
    z-index: 1030; 
}

body {
        margin: 0;
        padding-bottom: 80px; 
}

.preview {
    font-size: 0.9em;
    color: #6c757d;
}

.result-icon {
    font-size: 3em;
    margin-bottom: 1em;
}

.setosa {
    color: #28a745; /* Green for Setosa */
}

.versicolor {
    color: #17a2b8; /* Blue for Versicolor */
}

.virginica {
    color: #ffc107; /* Yellow for Virginica */
}
